@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;1,300&display=swap');


body{
    margin: 0;
    background-image:url("../images/pattern-background-desktop.svg");
    /* import the background image */
    background-size: cover;
    /* make the background image cover the entire page */
    background-repeat:no-repeat;
    /* stops the background image to repeat downward */
    background-color: hsl(225, 100%, 94%);
    font-family: sans-serif;
    font-weight:500px;


    
}

p{
    font-size: 16px
}

.buy-meny{
    margin: auto;
     
    border-radius: 50px;
    background-color: hsl(225, 100%, 98%);
    text-align: center;
    padding: 20px;
    width: 400px;
}